<app-header></app-header>
<div class="content white-bg pt-30">
    <!-- Cource Overview -->
    <div class="course-overview">
        <div class="inner-box">
            <div class="container">
                <h4>ડી.એન.હાઇસ્કુલ, આણંદ તરફથી બાળકોને અપાતિ સુવિધાઓ</h4>
                <p>ડી.એન.હાઇસ્કુલ,આણંદ દર વર્ષે વિદ્યાર્થી નામાંકિત થાય ત્યાર બાદ તેમણે શાળા તરફથી નીચે મુજબની સુવિધાઓ વિનામૂલ્યે આપવામાં આવે છે.</p>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>
                        <!-- Faq Section Start -->
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content" style="margin-top: 20px;">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingOne">
                                                    <button class="accordion-button card-link" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">1. બસ પાસ કાઢી આપવાની
                                                        વ્યવસ્થા :-</button>
                                                </div>
                                                <div id="collapseOne" class="accordion-collapse collapse show"
                                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળા તરફથી બસ પાસ કાઢી આપવો જેમાં
                                                        અમારી શાળામાંથી કોઈ એક શિક્ષક પ્રતિનિધિત્વ કરી શાળામાં અપડાઉન કરતાં
                                                        વિદ્યાર્થીઓને વિદ્યાર્થીઓના શિક્ષણ કાર્યને અસર ન થાય તે માટે બસ પાસ
                                                        ઓનલાઈન ફોર્મ ભરી કાઢી આપવામાં આવે છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTwo">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">2. આધારકાર્ડ
                                                        :-</button>
                                                </div>
                                                <div id="collapseTwo" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળા તરફથી દરેક વિદ્યાર્થીને admission
                                                        થયા બાદ આધારકાર્ડની મહત્વતા સમજાવી જેના આધારકાર્ડ બાકી હોય કે અપડેટ
                                                        કરવાના હોય તો તે કરી આપવામાં આવે છે. (સંસ્થાના કેમ્પસમાં જ )</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingThree">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">3. આરોગ્ય તપાસ
                                                        :-</button>
                                                </div>
                                                <div id="collapseThree" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળા તરફથી સરકાર શ્રીના શાળા આરોગ્ય
                                                        કાર્યક્રમ હેઠળ દરેક વિદ્યાર્થીઓને બોડી ચેકઅપ, બ્લડગ્રુપ વગેરે સંપૂર્ણ
                                                        ચેકઅપ કરી ઉપચાર કરાવવામાં આવે છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFour">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">4. લર્નિગ લાયસન્સ*
                                                        :-</button>
                                                </div>
                                                <div id="collapseFour" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળામાં ભણતા વિદ્યાર્થીઓને કાચું
                                                        લાયસન્સ RTO આણંદના સહયોગથી પણ કાઢી આપવામાં આવે છે (કેટલાંક નિયમોને
                                                        આધીન).</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFive">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                        aria-expanded="false" aria-controls="collapseFive">5. ફી માં સહાય* :-
                                                    </button>
                                                </div>
                                                <div id="collapseFive" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">સંસ્થા તરફથી જે વિદ્યાર્થીઓની આર્થિક
                                                        સ્થિતિ નબળી હોય છે અથવા તો વિધવા સંતાન હોય તો તેમને ફી માફી ઉપરાંત બીજી
                                                        ઘણી મદદ કરવામાં આવે છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSix">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                                        aria-expanded="false" aria-controls="collapseSix">6. માનસિક સ્વાસ્થ્યની
                                                        સંભાળ :-</button>
                                                </div>
                                                <div id="collapseSix" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળામાં સંસ્થા તરફથી માનસીક રોગ
                                                        નિષ્ણાંત રોકવામાં આવેલ છે જે વિદ્યાર્થીઓને માનસિક તકલીફ હોય તો તેમનું
                                                        નિદાન કરી યોગ્ય ઉપચાર કરવામાં આવે છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingSeven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                                        aria-expanded="false" aria-controls="collapseSeven">7. S.L. પ્રોગામ :-
                                                    </button>
                                                </div>
                                                <div id="collapseSeven" class="accordion-collapse collapse"
                                                    aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">​શાળાના તમામ વિધાર્થીઓ ને અઠવાડિયાના
                                                        એક દિવસ – એક કલાક તદન નિશુલ્ક વિવિધ પ્રકારની પ્રવૃતિઓ જેવી કે
                                                        સંગીત,ક્રાફટ , એનીમેશન ,તોડ-ફોડ-જોડ,ડાન્સ,નાટક અને વિવિધ રમતો નું તજજ્ઞો
                                                        ના સાનિધ્યમાં પ્રશિક્ષણ આપવમાં આવે છે.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- faq Section Start -->

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>
                        <!-- Faq Section Start -->
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content" style="margin-top: 20px;">
                                        <div class="accordion" id="accordionExample">

                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingEight">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEight"
                                                        aria-expanded="false" aria-controls="collapseEight">8. રમતોનું પ્રશિક્ષણ
                                                        :-</button>
                                                </div>
                                                <div id="collapseEight" class="accordion-collapse collapse"
                                                    aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળામાં રમતો જેવી કે ક્રિકેટ,વોલીબોલ,
                                                        ખો-ખો કબ્બડી વગેરેના કોચ રોકી યોગ્ય વિદ્યાર્થીઓને તજક્ષ દ્વારા તેમની નજર
                                                        હેઠળ પ્રશિક્ષણ આપવામાં આવે છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingNine">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseNine"
                                                        aria-expanded="false" aria-controls="collapseNine">9. કેન્ટીન ની સવલત
                                                        :-</button>
                                                </div>
                                                <div id="collapseNine" class="accordion-collapse collapse"
                                                    aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળામાં કેન્ટીનની સુવિધા છે જેમાં
                                                        વિદ્યાર્થીઓને નજીવા દરે પૌષ્ટિક નાસ્તો પણ આપવામાં આવે છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTen">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTen"
                                                        aria-expanded="false" aria-controls="collapseTen">10. ભોજનાલય ની સુવિધા
                                                        :-</button>
                                                </div>
                                                <div id="collapseTen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">વિધાર્થી આશ્રમ ના વિધાર્થીઓ ઉપરાંત
                                                        શાળાના વિધાર્થીઓ માટે નજીવા દરે ભોજન પુરા પાડતી સેવા. જેમાં અત્યાધુનિક
                                                        સ્વયંસંચાલિત મશીનરી દ્વારા ભોજન તેયાર કરવામાં આવે છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingEleven">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseEleven"
                                                        aria-expanded="false" aria-controls="collapseEleven">11. સરસ્વતીમાતાનું
                                                        પૂજન :-</button>
                                                </div>
                                                <div id="collapseEleven" class="accordion-collapse collapse"
                                                    aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળામાં દરરોજ વિદ્યાર્થીઓના જન્મ દિવસ
                                                        હોય તેમના માટે અમારા કેમ્પસમાં રહેલ સરસ્વતીમાતાના મંદિરમાં પુજારી દ્વારા
                                                        હવન/પૂજા કરવામાં આવે છે જેના કારણે વિદ્યાર્થીઓમાં ધાર્મિક, આધ્યાત્મિક
                                                        વિચાર પ્રગટે છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingTwelve">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwelve"
                                                        aria-expanded="false" aria-controls="collapseTwelve">12. મોટીવેશનલ
                                                        પ્રોગ્રામ :-</button>
                                                </div>
                                                <div id="collapseTwelve" class="accordion-collapse collapse"
                                                    aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળામાં પ્રાર્થના મંદિરમાં માસમાં
                                                        એકવાર શનિવારના રોજ “મોટીવેશનલ પ્રોગ્રામ” નું આયોજન કરવામાં આવે છે. જેના
                                                        દ્વારા વિદ્યાર્થીઓમાં ઉચ્ચ વિચારો જેવા ગુણો વિકસે છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingThirteen">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseThirteen"
                                                        aria-expanded="false" aria-controls="collapseThirteen">13. સી.સી.કેમેરા
                                                        થી સુરક્ષિત કેમ્પસ :-</button>
                                                </div>
                                                <div id="collapseThirteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળાના દરેક વર્ગો અને કેમ્પસ સંપૂર્ણ
                                                        રીતે સી.સી.કેમેરા હેઠળ છે.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFourteen">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFourteen"
                                                        aria-expanded="false" aria-controls="collapseFourteen">14. R.O.
                                                        પાણી:-</button>
                                                </div>
                                                <div id="collapseFourteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">અદ્યતન R.O.પ્લાન્ટ દ્વારા વિધાર્થીઓ
                                                        માટે શુદ્ધ પીવાના ઠંડા પાણી ની વ્યવસ્થા.</div>
                                                </div>
                                            </div>
                                            <div class="accordion-item card">
                                                <div class="accordion-header card-header" id="headingFifteen">
                                                    <button class="card-link accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseFifteen"
                                                        aria-expanded="false" aria-controls="collapseFifteen">15. સમરકેમ્પ
                                                        :-</button>
                                                </div>
                                                <div id="collapseFifteen" class="accordion-collapse collapse"
                                                    aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
                                                    <div class="accordion-body card-body">શાળા તરફથી, દિવાળી વેકેશન અને ઉનાળું
                                                        વેકેશન દરમિયાન સમરકેમ્પ નું આયોજન કરી નજીવા દરે વિદ્યાર્થીને
                                                        સુષુપ્તશકિતને બહાર કાઢવાનું આયોજન કરવામાં આવે છે.</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- faq Section Start -->

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>